<footer class="footer text-center py-12 py-md-21 bg-footer text-white">
    <div class="container px-6">
        <div class="d-flex mb-4 flex-column flex-md-row mb-10 mb-md-4">
            <div class="me-auto mb-10 mb-md-0">
                <img src="/assets/images/logo-white.png" alt="Learning" class="footer-logo">
            </div>
            <ul class="list-unstyled d-flex gap-6 gap-md-8 flex-column flex-md-row align-items-start align-items-md-center fs-8">
                <li>
                    <a href="#" class="link-opacity-75-hover link-white">常見問題</a>
                </li>
                <li>
                    <a href="#" class="link-opacity-75-hover link-white">關於我們</a>
                </li>
                <li>
                    <a href="#" class="link-opacity-75-hover link-white">隱私權政策</a>
                </li>
                <li>
                    <a href="#" class="link-opacity-75-hover link-white">使用者條款</a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-md-end flex-column-reverse flex-md-row">
            <p class="me-auto fs-9 fs-md-7">copyright © 2024 LEARNING 課程網站 All Rights Reserved.</p>
            <ul class="list-unstyled d-flex gap-4 mb-8 mb-md-0">
                <li>
                    <a href="#" class="border border-white rounded-pill footer-sns d-flex align-items-center justify-content-center">
                        <i class="fs-6 bi bi-line"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="border border-white rounded-pill footer-sns d-flex align-items-center justify-content-center">
                        <i class="fs-6 bi bi-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="border border-white rounded-pill footer-sns d-flex align-items-center justify-content-center">
                        <i class="fs-6 bi bi-facebook"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>