.banner-img-radius {
  border-radius: 0pxd;
}

.banner-non-center {
  opacity: 70%;
}

.banner-left-bottom-Text {

  bottom: 0px;
  left: 0px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
.banner-left-bottom-Text{
  width: 100%;
}


.swiper-slide {
  max-width: 1600px;
}

.swiper-button-next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}


.swiper-button-prev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

@media (min-width: 1600px) {
  
  .banner-left-bottom-Text{
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    width: auto;
  }
  .banner-img-radius {
    border-radius: 80px;
  }

  .swiper-button-next {
    right: calc((100% - 1600px) / 2 - 20px);
  }
  
  .swiper-button-prev {
    left: calc((100% - 1600px) / 2 - 20px); 
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
  /* 隱藏箭頭圖標，方便自定義圖標 */
}


.card-shadow {
  border-radius: 20px;
  box-shadow: 0px 25px 50px -12px #0000001F;
}

.del-word {
  color: #808080;
}

.card-badge {
  top: 1rem;
  left: 1rem;
}

.hot-poa-img {
  width: 200px;
  height: 200px;
  background-position: cover;
  left: -100px;
  z-index: -1;

  @include media-breakpoint-up(lg) {
    width: 560px;
    height: 560px;
  }
}

.bought-bg {
  background: linear-gradient(180deg, #F0F6FF 0%, #FFFFFF 100%);
  z-index: -2;
}

.background-title-img {
  top: -24px;
  left: -24px;
  z-index: -1;
}

.bought-img {
  display: none;

  @include media-breakpoint-up(lg) {
    display: inline-block;
    left: -240px;
    bottom: 120px;
  }
}

.learn-section {
  margin: 0 auto;
  max-width: 1656px;
  border-radius: 80px;
  padding: 5rem 11.25rem;

  .learn-icon {
    border-radius: 1rem;
  }

  .megaphoneSimple-icon {
    background-color: #FF994F;
  }

  .camera-icon {
    background-color: #5E5E5E;
  }

  .self-learn-icon {
    background-color: #FF9BAD;
  }

  .penNib-icon {
    background-color: #564FFD;

  }

  .bugDroid-icon {
    background-color: #54DFF2;
  }

  .creditCard-icon {
    background-color: #52E9BC;
  }

  .headphones-icon {
    background-color: #CF93FF;
  }
}



.course-title {
  color: #1D2026;

}

.course-word {
  color: #6E7485;
}

.teacher-bg {
  background-image: url(/assets/images/deco/line-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.teacher-card {
  margin-top: -6.25rem;
  z-index: 5;
}
