.banner-img-radius {
  border-radius: 80px;
}

.banner-non-center {
  opacity: 70%;
}

.banner-left-bottom-Text{
  
  bottom: 0px;
  left: 0px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
}


.swiper-button-next {
  position: absolute;
  right: calc((100% - 1600px) / 2 - 20px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; 
}


.swiper-button-prev {
  position: absolute;
  left: calc((100% - 1600px) / 2 - 20px); 
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next::after,
  .swiper-button-prev::after {
    display: none; /* 隱藏箭頭圖標，方便自定義圖標 */
  }


.card-shadow {
  border-radius: 20px;
  box-shadow: 0px 25px 50px -12px #0000001F;
}

.del-word {
  color: #808080;
}

.card-badge {
  top: 1rem;
  left: 1rem;
}

.hot-poa-img {
  width: 200px;
  height: 200px;
  background-position: cover;
  left: -100px;
  z-index: -1;

  @include media-breakpoint-up(lg) {
    width: 560px;
    height: 560px;
  }
}

.bought-bg {
  background: linear-gradient(180deg, #F0F6FF 0%, #FFFFFF 100%);
  z-index: -2;
}

.bought-title-img {
  top: -24px;
  left: -24px;
  z-index: -1;
}

.bought-img {
  display: none;

  @include media-breakpoint-up(lg) {
    display: inline-block;
    left: -240px;
    bottom: 120px;
  }
}

.teacher-bg {
  background-image: url(/assets/images/deco/line-1.png);
  background-repeat: cover;
}
