<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2024切版直播班第八週 - 講師介紹</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <style>
      .material-symbols-outlined {
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
      }
    </style>
  </head>
  <body>
    <%- include('./layout/nav'); -%>

    <picture>
      <source media="(min-width: 768px)" srcset="../assets/images/hero-5.png" />
      <img src="../assets/images/hero-sm-5.png" alt="" class="w-100" />
    </picture>
    <div class="container">
      <div
        class="d-flex flex-column flex-lg-row justify-content-start logo-margin"
      >
        <div class="p-5">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="../assets/images/hex-logo.svg"
              class="px-0 mx-0"
              width="200px"
              height="200px"
            />
            <img
              src="../assets/images/hex-logo.svg"
              alt=""
              width="80px"
              height="80px"
            />
          </picture>
        </div>
        <div
          class="description d-flex flex-column align-items-center align-items-lg-start gap-6 ms-lg-20 pt-6 pt-lg-23"
        >
          <h1>六角學院</h1>
          <div class="countgrid d-flex gap-6 text-neutral-80">
            <div>
              <span style="font-size: 20px; color: blue">4</span>
              <span>堂課</span>
            </div>
            <span> | </span>
            <div>
              <span style="font-size: 20px; color: blue">8463</span>
              <span>收藏數</span>
            </div>
            <span> | </span>
            <div>
              <span style="font-size: 20px; color: blue">20,218</span>
              <span>個學生</span>
            </div>
          </div>
          <p>
            六角學院 是一所線上程式開發學習單位，目前已累積 20,000
            名學員，讓更多人藉由線上學習在職涯規劃上有更多的選擇是我們的使命是，如果您贊同我們的理念，歡迎加入六角。
            <br />
            我們將深入了解您想發展的領域，每位實習生我們都會量身打造專屬於您的舞台，並讓您實際瞭解公司營運
            Know how。
          </p>
          <ul class="list-unstyled d-flex gap-4 mb-8 mb-md-0">
            <li>
              <a
                href="#"
                class="border border-black rounded-pill footer-sns d-flex align-items-center justify-content-center"
              >
                <i class="fs-6 bi bi-line"></i>
              </a>
            </li>
            <li>
              <a
                href="#"
                class="border border-black rounded-pill footer-sns d-flex align-items-center justify-content-center"
              >
                <i class="fs-6 bi bi-youtube"></i>
              </a>
            </li>
            <li>
              <a
                href="#"
                class="border border-black rounded-pill footer-sns d-flex align-items-center justify-content-center"
              >
                <i class="fs-6 bi bi-facebook"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="container gap-6"
      style="margin-top: 100px; margin-bottom: 200px"
    >
      <div class="d-flex gap-2 align-items-center" style="margin-bottom: 24px">
        <img
          src="../assets/images/deco/flower-5.png"
          alt=""
          style="width: 24px; height: 24px"
        />
        <h5>六角學院開的課</h5>
      </div>
      <div class="row d-none d-lg-flex">
        <div class="col-3">
          <div class="card position-relative">
            <div class="card-head">
              <img
                src="../assets/images/course-5.png"
                alt=""
                style="
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                "
              />

              <div
                class="position-absolute py-2 px-3 rounded-pill"
                style="top: 16px; left: 16px; background-color: #ffe0d7"
              >
                <span class="fs-7" style="color: #f95f71">限時8折</span>
                <span
                  class="fs-7 font-icon material-symbols-outlined"
                  style="color: red"
                  >local_fire_department</span
                >
              </div>
            </div>
            <div class="card-body rounded">
              <div class="d-flex flex-column gap-4">
                <h6 class="fs-6">小白也會！從零開始學習 Python 程式設計</h6>
                <div
                  class="d-flex justify-content-between gap-6 align-items-center"
                >
                  <div class="teacher d-flex align-items-center">
                    <img
                      src="../assets/images/avatar-2.png"
                      alt=""
                      class="img-fluid object-fit-cover rounded-circle object-fit-cover"
                      style="width: 32px; height: 32px"
                    />
                    <span class="p-2">Kelly Hsu</span>
                  </div>
                  <div class="d-flex flex-column gap-0 align-items-end">
                    <div class="fs-6 text-primary fw-bold">NT$2480</div>
                    <del style="color: #808080">NT$3200</del>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="p-3 fs-8">程式開發</div>
                  <div class="fs-8">已有 420 位同學加入</div>
                </div>
                <div class="d-flex align-items-center">
                  <span
                    class="font-icon material-symbols-outlined"
                    style="color: yellow"
                    >star</span
                  >
                  <span style="color: #180000">4.0</span>
                  <span style="color: #808080">(333)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card position-relative">
            <div class="card-head">
              <img
                src="../assets/images/course-6.png"
                alt=""
                style="
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                "
              />

              <div
                class="position-absolute py-2 px-3 rounded-pill"
                style="top: 16px; left: 16px; background-color: #ffe0d7"
              >
                <span class="fs-7" style="color: #f95f71">限時8折</span>
                <span
                  class="fs-7 font-icon material-symbols-outlined"
                  style="color: red"
                  >local_fire_department</span
                >
              </div>
            </div>
            <div class="card-body rounded">
              <div class="d-flex flex-column gap-4">
                <h6 class="fs-6">全面掌握 JavaScript 開發技術</h6>
                <div
                  class="d-flex justify-content-between gap-6 align-items-center"
                >
                  <div class="teacher d-flex align-items-center">
                    <img
                      src="../assets/images/avatar-2.png"
                      alt=""
                      class="img-fluid object-fit-cover rounded-circle object-fit-cover"
                      style="width: 32px; height: 32px"
                    />
                    <span class="p-2">Kelly Hsu</span>
                  </div>
                  <div class="d-flex flex-column gap-0 align-items-end">
                    <div class="fs-6 text-primary fw-bold">NT$2480</div>
                    <del style="color: #808080">NT$3200</del>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="p-3 fs-8">程式開發</div>
                  <div class="fs-8">已有 420 位同學加入</div>
                </div>
                <div class="d-flex align-items-center">
                  <span
                    class="font-icon material-symbols-outlined"
                    style="color: yellow"
                    >star</span
                  >
                  <span style="color: #180000">4.0</span>
                  <span style="color: #808080">(333)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card position-relative">
            <div class="card-head">
              <img
                src="../assets/images/course-7.png"
                alt=""
                style="
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                "
              />
            </div>
            <div class="card-body rounded">
              <div class="d-flex flex-column gap-4">
                <h6 class="fs-6">HTML & CSS 網頁設計基礎教程</h6>
                <div
                  class="d-flex justify-content-between gap-6 align-items-center"
                >
                  <div class="teacher d-flex align-items-center">
                    <img
                      src="../assets/images/avatar-2.png"
                      alt=""
                      class="img-fluid object-fit-cover rounded-circle object-fit-cover"
                      style="width: 32px; height: 32px"
                    />
                    <span class="p-2">Kelly Hsu</span>
                  </div>
                  <div class="d-flex flex-column gap-0 align-items-end">
                    <div class="fs-6 text-primary fw-bold">NT$2480</div>
                    <del style="color: #808080">NT$3200</del>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="p-3 fs-8">程式開發</div>
                  <div class="fs-8">已有 420 位同學加入</div>
                </div>
                <div class="d-flex align-items-center">
                  <span
                    class="font-icon material-symbols-outlined"
                    style="color: yellow"
                    >star</span
                  >
                  <span style="color: #180000">4.0</span>
                  <span style="color: #808080">(333)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card position-relative">
            <div class="card-head">
              <img
                src="../assets/images/course-8.png"
                alt=""
                style="
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                "
              />
            </div>
            <div class="card-body rounded">
              <div class="d-flex flex-column gap-4">
                <h6 class="fs-6">更進一步！深入學習 Node.js 與後端開發</h6>
                <div
                  class="d-flex justify-content-between gap-6 align-items-center"
                >
                  <div class="teacher d-flex align-items-center">
                    <img
                      src="../assets/images/avatar-2.png"
                      alt=""
                      class="img-fluid object-fit-cover rounded-circle object-fit-cover"
                      style="width: 32px; height: 32px"
                    />
                    <span class="p-2">Kelly Hsu</span>
                  </div>
                  <div class="d-flex flex-column gap-0 align-items-end">
                    <div class="fs-6 text-primary fw-bold">NT$2480</div>
                    <del style="color: #808080">NT$3200</del>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <div class="p-3 fs-8">程式開發</div>
                  <div class="fs-8">已有 420 位同學加入</div>
                </div>
                <div class="d-flex align-items-center">
                  <span
                    class="font-icon material-symbols-outlined"
                    style="color: yellow"
                    >star</span
                  >
                  <span style="color: #180000">4.0</span>
                  <span style="color: #808080">(333)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper mySwiper d-lg-none">
        <div class="swiper-wrapper">
          <div class="swiper-slide w-100">
            <div class="card">
              <div class="card-head position-relative">
                <img
                  src="../assets/images/course-5.png"
                  alt=""
                  style="
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  "
                />
                <div
                  class="position-absolute py-2 px-3 rounded-pill"
                  style="top: 16px; left: 16px; background-color: #ffe0d7"
                >
                  <span class="fs-7" style="color: #f95f71">限時8折</span>
                  <span
                    class="fs-7 font-icon material-symbols-outlined"
                    style="color: red"
                    >local_fire_department</span
                  >
                </div>
              </div>
              <div class="card-body rounded">
                <div class="d-flex flex-column gap-4">
                  <h6 class="fs-6">小白也會！從零開始學習 Python 程式設計</h6>
                  <div
                    class="d-flex justify-content-between gap-6 align-items-center"
                  >
                    <div class="teacher d-flex align-items-center">
                      <img
                        src="../assets/images/avatar-2.png"
                        alt=""
                        class="img-fluid object-fit-cover rounded-circle object-fit-cover"
                        style="width: 32px; height: 32px"
                      />
                      <span class="p-2">Kelly Hsu</span>
                    </div>
                    <div class="d-flex flex-column gap-0 align-items-end">
                      <div class="fs-6 text-primary fw-bold">NT$2480</div>
                      <del style="color: #808080">NT$3200</del>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <div class="p-3 fs-8">程式開發</div>
                    <div class="fs-8">已有 420 位同學加入</div>
                  </div>
                  <div class="d-flex align-items-center">
                    <span
                      class="font-icon material-symbols-outlined"
                      style="color: yellow"
                      >star</span
                    >
                    <span style="color: #180000">4.0</span>
                    <span style="color: #808080">(333)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide w-100">
            <div class="card position-relative">
              <div class="card-head">
                <img
                  src="../assets/images/course-6.png"
                  alt=""
                  style="
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  "
                />

                <div
                  class="position-absolute py-2 px-3 rounded-pill"
                  style="top: 16px; left: 16px; background-color: #ffe0d7"
                >
                  <span class="fs-7" style="color: #f95f71">限時8折</span>
                  <span
                    class="fs-7 font-icon material-symbols-outlined"
                    style="color: red"
                    >local_fire_department</span
                  >
                </div>
              </div>
              <div class="card-body rounded">
                <div class="d-flex flex-column gap-4">
                  <h6 class="fs-6">全面掌握 JavaScript 開發技術</h6>
                  <div
                    class="d-flex justify-content-between gap-6 align-items-center"
                  >
                    <div class="teacher d-flex align-items-center">
                      <img
                        src="../assets/images/avatar-2.png"
                        alt=""
                        class="img-fluid object-fit-cover rounded-circle object-fit-cover"
                        style="width: 32px; height: 32px"
                      />
                      <span class="p-2">Kelly Hsu</span>
                    </div>
                    <div class="d-flex flex-column gap-0 align-items-end">
                      <div class="fs-6 text-primary fw-bold">NT$2480</div>
                      <del style="color: #808080">NT$3200</del>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <div class="p-3 fs-8">程式開發</div>
                    <div class="fs-8">已有 420 位同學加入</div>
                  </div>
                  <div class="d-flex align-items-center">
                    <span
                      class="font-icon material-symbols-outlined"
                      style="color: yellow"
                      >star</span
                    >
                    <span style="color: #180000">4.0</span>
                    <span style="color: #808080">(333)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide w-100">
            <div class="card position-relative">
              <div class="card-head">
                <img
                  src="../assets/images/course-7.png"
                  alt=""
                  style="
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  "
                />
              </div>
              <div class="card-body rounded">
                <div class="d-flex flex-column gap-4">
                  <h6 class="fs-6">HTML & CSS 網頁設計基礎教程</h6>
                  <div
                    class="d-flex justify-content-between gap-6 align-items-center"
                  >
                    <div class="teacher d-flex align-items-center">
                      <img
                        src="../assets/images/avatar-2.png"
                        alt=""
                        class="img-fluid object-fit-cover rounded-circle object-fit-cover"
                        style="width: 32px; height: 32px"
                      />
                      <span class="p-2">Kelly Hsu</span>
                    </div>
                    <div class="d-flex flex-column gap-0 align-items-end">
                      <div class="fs-6 text-primary fw-bold">NT$2480</div>
                      <del style="color: #808080">NT$3200</del>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <div class="p-3 fs-8">程式開發</div>
                    <div class="fs-8">已有 420 位同學加入</div>
                  </div>
                  <div class="d-flex align-items-center">
                    <span
                      class="font-icon material-symbols-outlined"
                      style="color: yellow"
                      >star</span
                    >
                    <span style="color: #180000">4.0</span>
                    <span style="color: #808080">(333)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide w-100">
            <div class="card position-relative">
              <div class="card-head">
                <img
                  src="../assets/images/course-8.png"
                  alt=""
                  style="
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  "
                />
              </div>
              <div class="card-body rounded">
                <div class="d-flex flex-column gap-4">
                  <h6 class="fs-6">更進一步！深入學習 Node.js 與後端開發</h6>
                  <div
                    class="d-flex justify-content-between gap-6 align-items-center"
                  >
                    <div class="teacher d-flex align-items-center">
                      <img
                        src="../assets/images/avatar-2.png"
                        alt=""
                        class="img-fluid object-fit-cover rounded-circle object-fit-cover"
                        style="width: 32px; height: 32px"
                      />
                      <span class="p-2">Kelly Hsu</span>
                    </div>
                    <div class="d-flex flex-column gap-0 align-items-end">
                      <div class="fs-6 text-primary fw-bold">NT$2480</div>
                      <del style="color: #808080">NT$3200</del>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <div class="p-3 fs-8">程式開發</div>
                    <div class="fs-8">已有 420 位同學加入</div>
                  </div>
                  <div class="d-flex align-items-center">
                    <span
                      class="font-icon material-symbols-outlined"
                      style="color: yellow"
                      >star</span
                    >
                    <span style="color: #180000">4.0</span>
                    <span style="color: #808080">(333)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30, // slide 間的間距
        loop: true, // 啟用無限循環
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>
  </body>
</html>
