<!doctype html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2024切版直播班第八週 - 線上課程網站</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>

    <div class="container-fuild"></div>
    <div class="container" style="height: 1200px">
      <!--先亂寫-->
      <p class="text-primary border border-3 border-primary-10">primary</p>
      <p class="text-black">primary</p>
      <p class="text-white">primary</p>
      <p class="text-primary-60">primary</p>
      <p class="text-primary-40">primary</p>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
:
