<!doctype html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2024切版直播班第八週 - 線上課程網站</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>

    <div class="container-fluid">
      <!-- orignal code -->

      <div
        class="d-flex overflow-x-hidden justify-content-center gap-10 position-relative"
      >
        <a href="#" class="btn btn-light position-absolute"></a>
        <img
          class="banner-img-radius banner-non-center"
          src="../assets/images/hero-1.png"
          alt=""
        />
        <img
          class="banner-img-radius"
          src="../assets/images/hero-2.png"
          alt=""
        />
        <img
          class="banner-img-radius banner-non-center"
          src="../assets/images/hero-3.png"
          alt=""
        />
      </div>
    </div>
    <!-- hot course -->
    <div class="container-fluid position-relative">
      <img
        src="../assets/images/deco/flower-2.png"
        alt=""
        class="hot-poa-img position-absolute"
      />
      <div class="container py-20 py-lg-22">
        <div class="row">
          <div class="col-lg-4 pt-0 pt-lg-23">
            <div class="hot-title mb-6 mb-lg-10">
              <h1 class="mb-4">火熱募資課程</h1>
              <p class="text-neutral-80">現在購買最優惠✨</p>
            </div>
            <div class="hot-botton d-flex flex-wrap gap-3 mb-lg-10">
              <button class="btn btn-primary fw-normal py-3 px-4">全部</button>
              <button
                class="btn btn-light text-neutral-80 fw-normal border py-3 px-4"
              >
                🍽️ 烹飪料理
              </button>
              <button
                class="btn btn-light text-neutral-80 fw-normal border py-3 px-4"
              >
                📊 數據分析
              </button>
              <button
                class="btn btn-light text-neutral-80 fw-normal border py-3 px-4"
              >
                🎼 音樂製作
              </button>
              <button
                class="btn btn-light text-neutral-80 fw-normal border py-3 px-4"
              >
                📝 創意寫作
              </button>
              <button
                class="btn btn-light text-neutral-80 fw-normal border py-3 px-4"
              >
                💬 語言學習
              </button>
              <button
                class="btn btn-light text-neutral-80 fw-normal border py-3 px-4"
              >
                🖌️ 藝術創作
              </button>
            </div>
            <button class="btn btn-primary py-3 px-4">更多募資課程</button>
          </div>
          <div class="col">
            <div class="row gy-6">
              <div class="col-lg-6">
                <div class="card position-relative">
                  <span
                    class="badge rounded-pill py-2 px-4 text-primary bg-primary-10 card-badge position-absolute"
                    >優惠倒數 10 天</span
                  >
                  <img
                    src="../assets/images/course-4.png"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body card-shadow">
                    <h5 class="card-title">
                      創意寫作工坊：從靈感到出版的全過程
                    </h5>
                    <div class="card-content d-flex align-items-center mb-lg-6">
                      <img
                        class="object-fit-cover me-2 rounded-circle"
                        style="width: 44px"
                        src="../assets/images/tutor-1.png"
                        alt=""
                      />
                      <p class="card-text text-neutral-80">Kelly Hsu</p>
                    </div>
                    <div class="progross d-flex justify-content-between">
                      <p class="fw-semibold text-primary">募資進度 81 %</p>
                      <p class="fs-8">已有 521 位同學加入</p>
                    </div>
                    <div class="progress my-2">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 81%"
                        aria-valuenow="81"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <div class="ntd">
                      <p class="fs-6 fw-semibold">
                        NT$ 2,480
                        <del class="ms-2 fs-8 fw-normal del-word"
                          >NT$ 3,200</del
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card position-relative">
                  <span
                    class="badge rounded-pill py-2 px-4 text-primary bg-primary-10 card-badge position-absolute"
                    >優惠倒數 17 天</span
                  >
                  <img
                    src="../assets/images/course-1.png"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body card-shadow">
                    <h5 class="card-title">健康廚房：營養均衡的素食料理指南</h5>
                    <div class="card-content d-flex align-items-center mb-lg-6">
                      <img
                        class="object-fit-cover me-2 rounded-circle"
                        style="width: 44px"
                        src="../assets/images/tutor-2.png"
                        alt=""
                      />
                      <p class="card-text text-neutral-80">希姐帶你吃</p>
                    </div>
                    <div class="progross d-flex justify-content-between">
                      <p class="fw-semibold text-primary">募資進度 281 %</p>
                      <p class="fs-8">已有 1,397 位同學加入</p>
                    </div>
                    <div class="progress my-2">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 281%"
                        aria-valuenow="281"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <div class="ntd">
                      <p class="fs-6 fw-semibold">
                        NT$ 1,680
                        <del class="ms-2 fs-8 fw-normal del-word"
                          >NT$ 2,980</del
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card position-relative">
                  <span
                    class="badge rounded-pill py-2 px-4 text-primary bg-primary-10 card-badge position-absolute"
                    >優惠倒數 9 天</span
                  >
                  <img
                    src="../assets/images/course-2.png"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body card-shadow">
                    <h5 class="card-title">
                      音樂製作入門：從零開始創作你的音樂
                    </h5>
                    <div class="card-content d-flex align-items-center mb-lg-6">
                      <img
                        class="object-fit-cover me-2 rounded-circle"
                        style="width: 44px"
                        src="../assets/images/tutor-3.png"
                        alt=""
                      />
                      <p class="card-text text-neutral-80">K.Dee</p>
                    </div>
                    <div class="progross d-flex justify-content-between">
                      <p class="fw-semibold text-primary">募資進度 76 %</p>
                      <p class="fs-8">已有 420 位同學加入</p>
                    </div>
                    <div class="progress my-2">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 76%"
                        aria-valuenow="76"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <div class="ntd">
                      <p class="fs-6 fw-semibold">
                        NT$ 2,680
                        <del class="ms-2 fs-8 fw-normal del-word"
                          >NT$ 3,200</del
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card position-relative">
                  <span
                    class="badge rounded-pill py-2 px-4 text-primary bg-primary-10 card-badge position-absolute"
                    >優惠倒數 1 天</span
                  >
                  <img
                    src="../assets/images/course-3.png"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body card-shadow">
                    <h5 class="card-title">
                      掌握商業攝影：打造你的專業攝影事業
                    </h5>
                    <div class="card-content d-flex align-items-center mb-lg-6">
                      <img
                        class="object-fit-cover me-2 rounded-circle"
                        style="width: 44px"
                        src="../assets/images/tutor-4.png"
                        alt=""
                      />
                      <p class="card-text text-neutral-80">Mikeeee</p>
                    </div>
                    <div class="progross d-flex justify-content-between">
                      <p class="fw-semibold text-primary">募資進度 98 %</p>
                      <p class="fs-8">已有 290 位同學加入</p>
                    </div>
                    <div class="progress my-2">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 98%"
                        aria-valuenow="98"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <div class="ntd">
                      <p class="fs-6 fw-semibold">
                        NT$ 1,980
                        <del class="ms-2 fs-8 fw-normal del-word"
                          >NT$ 3,200</del
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- everybody bought -->
    <div class="container-fluid position-relative bought-bg">
      <img
        src="../assets/images/deco/flower-3.png"
        alt=""
        class="position-absolute bought-img"
      />
      <div class="container py-20 py-lg-22 position-relative">
        <a>
          <img
            style="z-index: 10"
            class="position-absolute top-50 start-0 translate-y-middle"
            src="../assets/images/icons/btn_l.png"
            alt=""
          />
        </a>
        <a href="">
          <img
            style="z-index: 10"
            class="position-absolute top-50 end-0 translate-y-middle"
            src="../assets/images/icons/btn_r.png"
            alt=""
          />
        </a>
        <div class="bought-title d-flex flex-column align-items-center mb-10">
          <div class="position-relative">
            <img
              class="position-absolute bought-title-img"
              src="../assets/images/deco/flower-1.png"
              alt=""
            />

            <h2 class="fs-1 fw-semibold mb-2">看看大家都買了什麼</h2>
          </div>
          <p class="fs-6 fw-medium text-neutral-80">熱銷課程一次看！✨</p>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card position-relative">
              <span
                class="badge rounded-pill py-2 px-4 text-danger bg-danger-10 card-badge position-absolute"
                >限時 8 折 🔥</span
              >
              <img
                src="../assets/images/course-4.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body card-shadow">
                <h5 class="card-title">創意寫作工坊：從靈感到出版的全過程</h5>
                <div
                  class="card-content d-flex justify-content-between align-items-center mb-lg-6"
                >
                  <div class="tutor d-flex align-items-center">
                    <img
                      class="object-fit-cover me-2 rounded-circle"
                      style="width: 44px"
                      src="../assets/images/tutor-1.png"
                      alt=""
                    />
                    <p class="card-text text-neutral-80">Kelly Hsu</p>
                  </div>
                  <div class="ntd d-flex flex-column align-items-end">
                    <p class="fs-6 fw-semibold text-primary">NT$ 2,480</p>
                    <del class="ms-2 fs-8 fw-normal del-word">NT$ 3,200</del>
                  </div>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <!-- tag-join -->
                  <div class="d-flex flex-column align-items-start">
                    <span
                      class="badge rounded-pill py-1 px-4 fs-8 fw-normal text-neutral-80 bg-neutral-40"
                      >中文創作</span
                    >
                    <p class="fs-8 mt-1 text-neutral-80">已有 420 位同學加入</p>
                  </div>
                  <!-- evaluate -->
                  <div class="d-flex align-items-center">
                    <img
                      class="me-1"
                      src="../assets/images/icons/star.png"
                      alt=""
                    />
                    <div class="d-flex fs-8">
                      <p class="me-1">4.0</p>
                      <p class="del-word">(333)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card position-relative">
              <span
                class="badge rounded-pill py-2 px-4 text-danger bg-danger-10 card-badge position-absolute"
                >限時 8 折 🔥</span
              >
              <img
                src="../assets/images/course-5.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body card-shadow">
                <h5 class="card-title">
                  小白也會！從零開始學習 Python 程式設計
                </h5>
                <div
                  class="card-content d-flex justify-content-between align-items-center mb-lg-6"
                >
                  <div class="tutor d-flex align-items-center">
                    <img
                      class="object-fit-cover me-2 rounded-circle"
                      style="width: 44px"
                      src="../assets/images/tutor-1.png"
                      alt=""
                    />
                    <p class="card-text text-neutral-80">Kelly Hsu</p>
                  </div>
                  <div class="ntd d-flex flex-column align-items-end">
                    <p class="fs-6 fw-semibold text-primary">NT$ 2,480</p>
                    <del class="ms-2 fs-8 fw-normal del-word">NT$ 3,200</del>
                  </div>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <!-- tag-join -->
                  <div class="d-flex flex-column align-items-start">
                    <span
                      class="badge rounded-pill py-1 px-4 fs-8 fw-normal text-neutral-80 bg-neutral-40"
                      >程式開發</span
                    >
                    <p class="fs-8 mt-1 text-neutral-80">已有 420 位同學加入</p>
                  </div>
                  <!-- evaluate -->
                  <div class="d-flex align-items-center">
                    <img
                      class="me-1"
                      src="../assets/images/icons/star.png"
                      alt=""
                    />
                    <div class="d-flex fs-8">
                      <p class="me-1">4.0</p>
                      <p class="del-word">(333)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card position-relative">
              <span
                class="badge rounded-pill py-2 px-4 text-danger bg-danger-10 card-badge position-absolute"
                >限時 8 折 🔥</span
              >
              <img
                src="../assets/images/course-6.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body card-shadow">
                <h5 class="card-title">全面掌握 JavaScript 開發技術</h5>
                <div
                  class="card-content d-flex justify-content-between align-items-center mb-lg-6"
                >
                  <div class="tutor d-flex align-items-center">
                    <img
                      class="object-fit-cover me-2 rounded-circle"
                      style="width: 44px"
                      src="../assets/images/tutor-1.png"
                      alt=""
                    />
                    <p class="card-text text-neutral-80">Kelly Hsu</p>
                  </div>
                  <div class="ntd d-flex flex-column align-items-end">
                    <p class="fs-6 fw-semibold text-primary">NT$ 2,480</p>
                    <del class="ms-2 fs-8 fw-normal del-word">NT$ 3,200</del>
                  </div>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <!-- tag-join -->
                  <div class="d-flex flex-column align-items-start">
                    <span
                      class="badge rounded-pill py-1 px-4 fs-8 fw-normal text-neutral-80 bg-neutral-40"
                      >程式開發</span
                    >
                    <p class="fs-8 mt-1 text-neutral-80">已有 420 位同學加入</p>
                  </div>
                  <!-- evaluate -->
                  <div class="d-flex align-items-center">
                    <img
                      class="me-1"
                      src="../assets/images/icons/star.png"
                      alt=""
                    />
                    <div class="d-flex fs-8">
                      <p class="me-1">4.0</p>
                      <p class="del-word">(333)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card position-relative">
              <span
                class="badge rounded-pill py-2 px-4 text-danger bg-danger-10 card-badge position-absolute"
                >限時 8 折 🔥</span
              >
              <img
                src="../assets/images/course-7.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body card-shadow">
                <h5 class="card-title">HTML & CSS 網頁設計基礎教程</h5>
                <div
                  class="card-content d-flex justify-content-between align-items-center mb-lg-6"
                >
                  <div class="tutor d-flex align-items-center">
                    <img
                      class="object-fit-cover me-2 rounded-circle"
                      style="width: 44px"
                      src="../assets/images/tutor-1.png"
                      alt=""
                    />
                    <p class="card-text text-neutral-80">Kelly Hsu</p>
                  </div>
                  <div class="ntd d-flex flex-column align-items-end">
                    <p class="fs-6 fw-semibold text-primary">NT$ 2,480</p>
                    <del class="ms-2 fs-8 fw-normal del-word">NT$ 3,200</del>
                  </div>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <!-- tag-join -->
                  <div class="d-flex flex-column align-items-start">
                    <span
                      class="badge rounded-pill py-1 px-4 fs-8 fw-normal text-neutral-80 bg-neutral-40"
                      >程式開發</span
                    >
                    <p class="fs-8 mt-1 text-neutral-80">已有 420 位同學加入</p>
                  </div>
                  <!-- evaluate -->
                  <div class="d-flex align-items-center">
                    <img
                      class="me-1"
                      src="../assets/images/icons/star.png"
                      alt=""
                    />
                    <div class="d-flex fs-8">
                      <p class="me-1">4.0</p>
                      <p class="del-word">(333)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="height: 1200px">
      <!--先亂寫-->
      <p class="text-primary border border-3 border-primary-10">primary</p>
      <p class="text-black">primary</p>
      <p class="text-white">primary</p>
      <p class="text-primary-60">primary</p>
      <p class="text-primary-40">primary</p>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
